<!DOCTYPE html>
<html lang="en">
    <head>
        <!--

         [:]
          [:]
          [:::]
         [:::::::]
        [::::::::::]
        [:::::::::::]
        [:::::::::::::]
         [::::::::::::::]
          [:::::::::::::::]
           [::::::::::::::::]
            [:::::::::::::::::]
              [::::::::::::::::::]
                [:::::::::::::::::::]
                  [::::::::::::::::::::]
                    [::::::::::::::::::::]
                      [:::::::::::::::::::::]
                         [:::::::::::::::::::::]
                            [:::::::::::::::::::::::]
                                [:::::::::::::::::::]
        ____                        [::::::::::::]                                                 ______                         _____    
        |   \       /\       |\   |        /\       |\   |        /\                   |\   |    |           \      /\      /   /
        |___/      /  \      | \  |       /  \      | \  |       /  \                  | \  |    |______      \    /  \    /    \_____ 
        |   \     /____\     |  \ |      /____\     |  \ |      /____\                 |  \ |    |             \  /    \  /           \
        |___/    /      \    |   \|     /      \    |   \|     /      \                |   \|    |______        \/      \/       _____/

  _____________________________________________________________________________________________________________________________
 |                                                                                                                             |
 |   __                                                                            |                        __                 | 
 |  |  \   __   _   _  |  __            |     _      _ __   __   __|         __    |/     _   _            /__ o   _  __  |    |
 |  |__/  /__\ / \ | \ | /__\   |  |  | |__  / \   |/ /__\ /  | /  |   | |  (__    |\  | / \ / \ |  |  |   |   | |/  (__ _|__  |
 |  |     \__  \_/ |_/ | \__    \_/ \_/ |  | \_/   |  \__  \_/ \\_/|   \_/\  __)   | \ |/  | \_/ \_/ \_/   |   | |    __) |_/  |
 |                 |                                                                                                           |
 |_____________________________________________________________________________________________________________________________|


        Hmm. You're the sort of person who looks at the source code of webpages. Want to contribute? Check out our repository at github.com/banana-news/banana and make a pull request





        -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WH1QY5REJS"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-WH1QY5REJS');
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-1F7PFPTHZZ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-1F7PFPTHZZ');
        </script>
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>