.no-drag{
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.btn{
  border: outset;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: #b3b3b3;
}

.btn:hover{
  background-color: #a6a6a6
}

.btn:active{
  border: inset;
}