@font-face {
    font-family: 'Grandview';
    src: url('./Grandview.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GrandviewBold';
    src: url('./GrandviewBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GrandviewBoldItalic';
    src: url('./GrandviewBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GrandviewItalic';
    src: url('./GrandviewItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GrandviewLight';
    src: url('./GrandviewLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GrandviewLightItalic';
    src: url('./GrandviewLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}